# Copie ce fichier en ".env" et remplis les vraies valeurs (ne JAMAIS partager ce fichier ni le mettre sur GitHub public)

STRIPE_SECRET_KEY=sk_test_remplace_moi
STRIPE_WEBHOOK_SECRET=whsec_remplace_moi
FRONTEND_URL=https://ton-site.com
PORT=4242
